            <td id="user_row" class="px-6 py-4">
              <% if current_user.can_track_friend?(friend.email)%>
                  <%= link_to friendships_path(user: current_user, friend: friend, email: friend.email, full_name: friend.full_name), data: {turbo_method: :post}, 
                  class: "px-2.5 py-1.5 text-xs font-medium text-center text-white rounded-lg bg-blue-500 hover:bg-blue-700 break-keep" do %>
                      <i class="fa-solid fa-plus fa-1x" style="color: #ffffff;"></i> to My friends
                  <% end %>
                
              <% else %>
                  <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300 break-keep">
                          You are already tracking       
                          <% if current_user.friend_already_tracked?(friend.email) %>
                            this friend
                          <% else %>
                            <% if !current_user.under_friend_limit? %>
                              10 stocks
                            <% end %>
                          <% end %>
                  </span>
                
              <% end %>
            </td>