
 <%= turbo_stream.replace "friends_data" do %>
    <%#= @friends %>
    <% if @friends.present? && @friends.count > 0 %>
    <div class="py-6">
        <div id="friends_data" class="table-auto relative overflow-x-auto shadow-md sm:rounded-lg" style="white-space: nowrap">

            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            First Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Last Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                        <% @friends.each do |friend| %>
                            <div>
                                <%#= friend.email %>
                                <%= render partial: "users/friends/result", locals: { friend: friend } %>
                            </div>
                        <%end%>

                    </tbody>
            </table>      
        </div>
    </div>

    <% else %>
        <div id="friends_data">
            <div id="flash_message">
                <%= render "layouts/flash" %>
            </div>
        </div>
    <%end%>
<% end %>



