@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

:root{
  --themeColorMain: "#1aa8db";
  --themeColorSecondary: "#d23838";
}

.alert-danger{
  background-color: rgb(233, 0, 0)
}
.alert-alert{ 
  background-color: rgb(99, 99, 99)
}

.alert-notice, .alert-success{ 
  background-color: rgb(0, 182, 106)
}
